@import 'ember-modal-dialog/ember-modal-structure';
@import 'gavant-ember-modals/variables';

.modal {
    display: block;
}

.modal-backdrop {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: $modal-dialog-backdrop-z-index !important;
    width: auto !important;
    height: auto !important;
    background-color: $modal-dialog-backdrop-background-color;
    &.animated {
        animation-duration: $modal-dialog-animation-duration;
    }
}
.modal-dialog,
.ember-modal-dialog {
    //needed to keep the modal in front of the backdrop while they are animating in
    z-index: $modal-dialog-z-index !important;
    display: block !important;
    &.animated {
        animation-duration: $modal-dialog-animation-duration;
    }
}

.modal-backdrop {
    &.fade {
        transition: none;
    }
}
