$modal-dialog-z-index: 999999 !default;
$modal-dialog-animation-duration: 0.5s !default;
$modal-dialog-backdrop-background-color: rgba(0, 0, 0, .5) !default;
$modal-dialog-header-padding: 20px 20px 10px 20px !default;
$modal-dialog-body-padding: 10px 20px !default;
$modal-dialog-footer-padding: 10px 20px 20px 20px !default;
