{{#modal-dialog onClose=onClose size="sm" as |modal|}}
  {{modal.header title="test"}}
  {{#modal.body}}
      <p>Test Modal</p>
      {{day}}
  {{/modal.body}}
  {{#modal.footer}}
    <button class="btn btn-outline-secondary" {{action modal.close}}>Close</button>
    <button class="btn btn-primary" {{action "save"}}>Save</button>
  {{/modal.footer}}
{{/modal-dialog}}